table {
    width: 50%;
    margin-top: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.encabezado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
